
$primary:    #488aff
$secondary:  #32db64
$danger:     #f53d3d
$light:      #f4f4f4
$dark:       #222
$twitter:    #55acee
$sidebarbg:  #221b7e
$sidebarbgh: #0154a5
$sidebarbg:  #0081ff
$appBg:      #f2f4f8
$coolDarkblue: #293145

a
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;

div 
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;


@mixin headings 
  h1, h2, h3,
  h4, h5, h6 
    @content;
    
@include headings
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif

$breakpoints: (xs: 576px, sm: 768px, md: 992px, lg: 1200px );