<div class="container p-0 pt-2">
  <div class="row pt-2">
    <div class="col-3 sidebar">
      <div class="container-fluid pl-0 pr-0">
        <div class="card">
          <div class="card-body">
            <div class="h5">User</div>
            <div class="text-muted">Here you can see users who are enjoying our plataform already</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">

      <p class="text-center text-muted"
        *ngIf="!Users.length">
        Sorry, no users
      </p>

      <ol class="list-unstyled">

        <li *ngFor="let cols of rows"
          class="row no-gutters p-0">
          <div *ngFor="let user of cols"
            class="col-4">

            <ap-card>
              <div class="user-list-item">
                <div class="container">

                  <div class="row">
                    <div class="col p-0">
                      <ap-photo [url]="user.photo.url"
                        [description]="user.photo.description"
                        clsss="user-card">
                      </ap-photo>
                    </div>
                    <div class="col-8">
                      <div class="user-small-container">

                        <a class="font-weight-bold user-profile-link"
                          [routerLink]="['/user', user.username]">{{user.name}}</a>
                        <div class="user-small-place">{{ user.city }}</div>
                        <div class="user-small-place">{{ user.country }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ap-card>

          </div>
        </li>
      </ol>

    </div>