@import './styles/variables.sass';
    
.main-app
  background-color: red
  height: 100%

.no-side-padding
  padding-left: 0
  padding-right: 0

.side-menu
  width: 200px

    
#page-content
  background-color: $appBg