<div class="container main-home">


  <div class="row mt-4">
    <div class="col-md-3">
      <div class="card">
        <div class="m-2 justify-content-center">
          <img class="rounded-circle"
            width="80"
            src="{{currentUser.photo.url}}"
            alt="">
        </div>
        <div class="card-body">
          <div class="h5">{{currentUser.username}}</div>
          <div class="h7 text-muted">{{currentUser.fullname}}</div>
          <div class="h7">{{currentUser.city}}
          </div>
        </div>
        <ul class="list-group list-group-flush"
          style="margin-top: 15px">
          <li class="list-group-item">
            <div class="h6 text-muted">Number of activities</div>
            <div class="h5">{{activities.length}}</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Last Activity</div>
            <div class="h5">{{lastActivityStr}}</div>
          </li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 gedf-main">
      <div class="card">
        <ngb-tabset [justify]="currentJustify">
          <ngb-tab title="Share your activity">
            <ng-template ngbTabContent>
              <div class="card-body">
                <div class="tab-content"
                  id="myTabContent">
                  <div class="tab-pane fade show active"
                    id="posts"
                    role="tabpanel"
                    aria-labelledby="posts-tab">
                    <div class="form-group">
                      <label class="sr-only"
                        for="message">post</label>
                      <textarea class="form-control"
                        id="message"
                        rows="3"
                        placeholder="What are you thinking?"></textarea>
                    </div>

                  </div>
                  <div class="tab-pane fade"
                    id="images"
                    role="tabpanel"
                    aria-labelledby="images-tab">
                    <div class="form-group">
                      <div class="custom-file">
                        <input type="file"
                          class="custom-file-input"
                          id="customFile">
                        <label class="custom-file-label"
                          for="customFile">Upload image</label>
                      </div>
                    </div>
                    <div class="py-4"></div>
                  </div>
                </div>
                <div class="btn-toolbar justify-content-between">
                  <div class="btn-group">
                    <button type="submit"
                      class="btn btn-primary">share</button>
                  </div>
                  <div class="btn-group">


                    <div class="col text-right">
                      <div ngbDropdown
                        placement="bottom-right"
                        class="d-inline-block">
                        <button class="btn btn-outline-primary"
                          id="dropdownBasic2"
                          ngbDropdownToggle></button>
                        <div ngbDropdownMenu
                          aria-labelledby="dropdownBasic2">
                          <button class="dropdown-item">Public</button>
                          <button class="dropdown-item">Friends</button>
                          <button class="dropdown-item">Just Me</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
            <ng-template ngbTabContent>
              <app-profile-summary [user]="currentUser"
                [activities]="activities"></app-profile-summary>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Friends">
            <ng-template ngbTabContent>
              Soom (TM)
            </ng-template>
          </ngb-tab>
        </ngb-tabset>


      </div>






    </div>
    <div class="col-md-3">
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#"
            class="card-link">Card link</a>
          <a href="#"
            class="card-link">Another link</a>
        </div>
      </div>
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#"
            class="card-link">Card link</a>
          <a href="#"
            class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>



</div>