<div class="container main-home">


  <div class="row pt-4">
    <div class="col-md-3 sidebar">
      <div class="container-fluid">
        <div class="row user-profile">
          <div class="div bg-top">
          </div>
          <div class="col dashboard-profile-picture u-inlinkeBlock">
            <img class="rounded-circle user-picture"
              width="95"
              src="{{currentUser.photo.url}}"
              alt="">
          </div>
          <div class="col dashboard-profile-info">
            <div class="title">{{currentUser.username}}</div>
            <div class="fullname">{{currentUser.fullname}}</div>
            <div class="city">{{currentUser.city}}
            </div>
          </div>
        </div>
      </div>

      <div class="flex-module">
        <div class="about-user-item">
          <div class="flex-module-header">
            <h3>About {{currentUser.username}}</h3>
          </div>
          <ng-container *ngIf="activities.length > 0; else elseTemplate">
            <div class="about-user-text">{{currentUser.username}} has {{activities.length}} runs recorded here in this
              plataform.
            </div>
          </ng-container>
          <ng-template #elseTemplate>
            <div class="about-user-text">{{currentUser.username}} hasn't run yet.
            </div>
          </ng-template>
        </div>

        <div *ngIf="activities.length > 0"
          class="about-user-item">
          <div class="flex-module-header">
            <h3>Last Activity</h3>
          </div>
          <div class="about-user-text">
            {{lastActivityStr}}
          </div>
        </div>

      </div>


    </div>
    <div class="col-md-6 gedf-main">
      <div class="card">
        <ngb-tabset>
          <ngb-tab title="Share your activity">
            <ng-template ngbTabContent>
              <div class="card-body">
                <div class="tab-content"
                  id="myTabContent">
                  <div class="tab-pane fade show active"
                    id="posts"
                    role="tabpanel"
                    aria-labelledby="posts-tab">
                    <div class="form-group">
                      <label class="sr-only"
                        for="message">post</label>
                      <textarea class="form-control"
                        id="message"
                        rows="3"
                        placeholder="What are you thinking?"></textarea>
                    </div>

                  </div>
                  <div class="tab-pane fade"
                    id="images"
                    role="tabpanel"
                    aria-labelledby="images-tab">
                    <div class="form-group">
                      <div class="custom-file">
                        <input type="file"
                          class="custom-file-input"
                          id="customFile">
                        <label class="custom-file-label"
                          for="customFile">Upload image</label>
                      </div>
                    </div>
                    <div class="py-4"></div>
                  </div>
                </div>
                <div class="btn-toolbar justify-content-between">
                  <div class="btn-group">
                    <button type="submit"
                      class="btn btn-primary">share</button>
                  </div>
                  <div class="btn-group">


                    <div class="col text-right">
                      <div ngbDropdown
                        placement="bottom-right"
                        class="d-inline-block">
                        <button class="btn btn-outline-primary"
                          id="dropdownBasic2"
                          ngbDropdownToggle></button>
                        <div ngbDropdownMenu
                          aria-labelledby="dropdownBasic2">
                          <button class="dropdown-item">Public</button>
                          <button class="dropdown-item">Friends</button>
                          <button class="dropdown-item">Just Me</button>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b>Fancy</b> title</ng-template>
            <ng-template ngbTabContent>
              <app-profile-summary [user]="currentUser"
                [activities]="activities"></app-profile-summary>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Friends">
            <ng-template ngbTabContent>
              Soom (TM)
            </ng-template>
          </ngb-tab>
        </ngb-tabset>


      </div>






    </div>
    <div class="col-md-3">
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#"
            class="card-link">Card link</a>
          <a href="#"
            class="card-link">Another link</a>
        </div>
      </div>
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
          <a href="#"
            class="card-link">Card link</a>
          <a href="#"
            class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>



</div>