<div class="container main-home">



  <div class="row pt-2">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="h5">Welcome to runningMate</div>

        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Users registred</div>
            <div class="h5">{{users.length}}</div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Activities registred</div>
            <div class="h5">{{activities.length}}</div>
          </li>
          <li class="list-group-item">More than {{sumDistanceRun}} meters run so far!</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 gedf-main">


      <div class="card gedf-card">
        <app-activities [activities]="activities"></app-activities>
      </div>


    </div>
    <div class="col-md-3">
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title"><span class="pr-4">Join Us</span>
            <img class="rounded-circle"
              width="45"
              src="https://picsum.photos/50/50"
              alt=""></h5>

          <p class="card-text">Do you want to track you progress while running?</p>
          <a href="#"
            class="card-link">Create Account</a>

        </div>
      </div>

    </div>
  </div>



</div>